!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    header
      p LeClasseurApp
      nav
        ul
          li
            a(href="/") Home
          
    section#wrapper!= body
        footer
          section.css-table
            section.four-column
              section.cell
                p Soon 
              section.cell
                p Bientôt 
              section.cell
                p 很快 
              section.cell
                p bald
